#actionViewport {
    -fx-background-color: #ffffe0;
}

.action-node {
    -fx-border-color: #000000;
    -fx-min-width: 100;
    -fx-min-height: 80;
    -fx-padding: 5 5 5 5;
    -fx-background-color: #ffffff;
}

.selected {
    -fx-border-color: #ff0000;
}